name: Wine AffinityN Fast CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Build Wine
        run: |
          sudo apt update
          sudo apt install debootstrap perl git wget xz-utils bubblewrap autoconf unzip -y
          sudo mkdir -p /opt/Bootstraps
          wget https://nightly.link/Kron4ek/Wine-Builds/actions/runs/18988784067/Bootstraps.zip -O /opt/Bootstraps/bootstraps.zip
          sudo unzip /opt/Bootstraps/bootstraps.zip -d /opt/Bootstraps
          sudo tar -C /opt -xpf /opt/Bootstraps/bootstraps.tar.xz
          chmod +x build_wine.sh
          export WINE_VERSION="$(wget -q -O - "https://raw.githubusercontent.com/noahc3/wine/refs/heads/wine-10.18-winmd/VERSION" | tail -c +14)"
          export EXPERIMENTAL_WOW64="true"
          WINE_BRANCH=wine-10.18-winmd ./build_wine.sh
          sha256sum *.tar.xz
      - uses: actions/upload-artifact@v4
        with:
          name: Wine AffinityN
          path: ./*.tar.xz
